<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <li v-for="numero in numeros">
            {{ numero }}
        </li>
        <input type="text" v-model="num">
        <button v-on:click="agregarNumero">Agregar</button>
    </div>    
    <script>
        const { createApp } = Vue
        const obj = createApp({
            data() {
                return {
                    numeros: [4,6,3,2,-3,2],
                    num: 0
                }
            },
            methods: {
                agregarNumero() {
                    this.numeros.push(this.num);
                }
            }
        }).mount('#app')

    </script>
</body>
</html>